{% extends 'base/base.html' %}


{% block main_page %}


<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">
                    <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                                data-value="Album example" data-translation="Пример альбома" data-ch="0"
                                data-type="trSpan" style="visibility: initial !important;">OWL-TO-HELP
                    </ya-tr-span>
                </h1>
                <p class="lead text-body-secondary">
                    <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                                data-value=""
                                data-translation=""
                                data-ch="0" data-type="trSpan" style="visibility: initial !important;"
                                data-selected="false"></ya-tr-span>
                    <ya-tr-span data-index="3-1" data-translated="true" data-source-lang="en" data-target-lang="ru"
                                data-value="Make it short and sweet, but not too short so folks don’t simply skip over it entirely."
                                data-translation=''
                                data-ch="0" data-type="trSpan" style="visibility: initial !important;">Сайт для помощи в
                        успеваемости вашим одноклассникам и людям с которыми вы учитесь. Вы можете публиковать запросы
                        или отвечать на них. Для этого связи с человек воспользуйтесь телеграмм по ссылке. Для начала
                        пользования
                        зарегистрируйтесь на сервисе.
                    </ya-tr-span>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/img/1.jpeg" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                <ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru"
                                            data-value="This is a wider card with supporting text below as a natural lead-in to additional content. "
                                            data-translation=""
                                            data-ch="0" data-type="trSpan" style="visibility: initial !important;"
                                            data-selected="false"
                                            data-ch="0" data-type="trSpan" style="visibility: initial !important;">Шаг 1
                                    <br> Зарегистрируйтесь и войдите на сайт                        </ya-tr-span>
                                <ya-tr-span data-index="6-1" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru" data-value="This content is a little bit longer."
                                            data-translation="Этот контент немного длиннее." data-ch="0"
                                            data-type="trSpan" style="visibility: initial !important;">
                                </ya-tr-span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/img/2.jpeg" alt="">
                        <div class="card-body">
                            <p class="card-text">Шаг 2 <br> Опубликуйте запрос в разделе public                        </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/img/3.jpeg" alt="">
                        <div class="card-body">
                            <p class="card-text">Шаг 3 <br> Жди ответа, заводи новые знакомства и обменивайся знаниями
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

{% endblock main_page %}


