{% extends 'layout.html' %}


{% block main_page %}


<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">
                    <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                                data-value="Album example" data-translation="Пример альбома" data-ch="0"
                                data-type="trSpan" style="visibility: initial !important;">OWL-TO-HELP
                    </ya-tr-span>
                </h1>
                <p class="lead text-body-secondary">
                    <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                                data-value=""
                                data-translation=""
                                data-ch="0" data-type="trSpan" style="visibility: initial !important;"
                                data-selected="false"></ya-tr-span>
                    <ya-tr-span data-index="3-1" data-translated="true" data-source-lang="en" data-target-lang="ru"
                                data-value="Make it short and sweet, but not too short so folks don’t simply skip over it entirely."
                                data-translation=''
                                data-ch="0" data-type="trSpan" style="visibility: initial !important;">Сайт для помощи в
                        успеваемости вашим одноклассникам и людям с которыми вы учитесь. Вы можете публиковать запросы
                        или отвечать на них. Для этого свяжитесь с человеком по телеграмм. Для начала пользования
                        зарегистрируйтесь на сервисе.
                    </ya-tr-span>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/Avatars/User 07.jpg" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                <ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru"
                                            data-value="This is a wider card with supporting text below as a natural lead-in to additional content. "
                                            data-translation=""
                                            data-ch="0" data-type="trSpan" style="visibility: initial !important;"
                                            data-selected="false">Ми́кки Ма́ус — мультипликационный персонаж, один из
                                    символов компании The Walt Disney Company и американской поп-культуры в целом.
                                    Представляет собой антропоморфного мышонка. Часто появляется в компании друга
                                    Дональда и собаки по кличке Плуто.
                                </ya-tr-span>
                                <ya-tr-span data-index="6-1" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru" data-value="This content is a little bit longer."
                                            data-translation="Этот контент немного длиннее." data-ch="0"
                                            data-type="trSpan" style="visibility: initial !important;">Этот контент
                                    немного длиннее.
                                </ya-tr-span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/Avatars/User 15.jpg" alt="">
                        <div class="card-body">
                            <p class="card-text">Ви́нни-Пух — плюшевый мишка, персонаж двух повестей и
                                двух сборников стихотворений английского писателя Алана Милна. Впервые Винни-Пух
                                появился в печати 14 октября 1926 года в одноимённой детской книге. Один из самых
                                известных героев детской литературы XX века.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/Avatars/User 17.jpg" alt="">
                        <div class="card-body">
                            <p class="card-text">Джерри — коричневый антропоморфный самец обыкновенной
                                мыши, впервые появившийся на экране в 1940 году. Второй главный герой мультфильма «Том и
                                Джерри».
                                Является основной целью в различного рода погонях и схватках для кота Тома, и старается
                                постоянно устроить Тому какую-нибудь пакость.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

{% endblock main_page %}


