{% extends 'layout.html' %}

{% block content %}

<div class="posts_category_side">
    Публикация тега: {{ current_tg.name }}


    <div class="list_posts_category">

        <ol>

            {% for post in name_tags %}

            <li style="font-size: 20px; list-style: none;"><a
                    href="{{ url_for('posts.post', slug=post.tag_post.slug) }}" style=" text-decoration: none;">

                {{ post.tg_post.title|capitalize }}</a> {{ post.tg_post.author.username }}
            </li>

            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}