<!DOCTYPE html>
<html lang="ru">
<head>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='icon/logo-owl.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">


    {% block title %}

    <title>{{ title if title else 'Flask-site' }}</title>

    {% endblock title %}

</head>

<body>
<div class="wrapper">

    {% block menu %}
    <header class="header">

        {#
        <div class="logo">#}
            {# <img src="{{ url_for('static', filename='img/logo-owl.png') }}" alt="logo">#}
            {##}
            {#
        </div>
        #}

        {% include 'base/menu.html' %}

    </header>


    {% endblock menu %}


    <div class="content">
        {% block main_page %}

        {% endblock main_page %}

        <main role="main" class="#">
            <div class="row">
                <div class="col-md-12">
                    {% with messages = get_flashed_messages(with_categories=True) %}

                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% endwith %}

                    {% block content %}
                    {% endblock content %}
                </div>
            </div>

        </main>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    {% block footer %}

    <footer class="footer">
        <div class="footer__div">
            &#169; Гришин Илья 2024<br>
            <a href="https://t.me/dfffffb" target="_blank"><img class="footer__tg__img"
                                                                src="{{ url_for('static', filename='icon/tg_logo.png') }}"
                                                                alt="tg">
            </a>
        </div>

    </footer>

    {% endblock footer %}
</div>
</body>
</html>